<div class="container">
<img class="back-svg fade-in-faster navbar-fixed-bottom img-responsive" src="/img/FOOTER_Cityscape.svg">
<div class="row fade-in">
    
<div class="centered-content col-xs-10 col-md-6 col-xs-offset-1 col-md-offset-3 ">
<h2 class="main-header">Join Our Growing Team</h2>
<h4 class="main-header">We Pay You More to Care More and Follow Your Passion</h4>
<form action="contact" method="post" style="margin-bottom:15px;" >
            <div class="form-group" style="margin-top:15px;">
              <label style="color:white" for="username"><span style="margin-right:8px; color:white;" class="glyphicon glyphicon-user"></span>Applicant Name</label>
              <input type="text" class="form-control" name="usrname" placeholder="So We Know What to Call You">
            </div>
            <div class="form-group" style="margin-top:15px;">
              <label style="color:white" for="email"><span style="margin-right:8px;color:white;" class="glyphicon glyphicon-envelope"></span>Applicant Email</label>
              <input type="text" class="form-control" name="email" placeholder="So We Can Reach You">
            </div>
              <div class="form-group" style="margin-top:15px;">
              <label style="color:white"  for="info"><span style="margin-right:8px;style="color:white"p" class="glyphicon glyphicon-eye-open"></span>What Do You Want to Change?</label>
                  <textarea rows="4" cols="25" type="text" class="form-control" name="content" placeholder="Stand for Something and Fall for Nothing"></textarea>
            </div>
              <button type="submit" style="margin-top:15px;margin-bottom:15px;" class="btn btn-success btn-block">Start the Chat</button>
</form>
    
</div>
</div>

</div>
    


