<div class="container">
<img class="back-svg fade-in-faster img-responsive" src="/img/FOOTER_Cityscape.svg">
<div class="row fade-in">
    

<div class="centered-content col-xs-10 col-md-8 col-xs-offset-1 col-md-offset-2 ">

<img class="center-img tall-gif-content img-responsive" src="/img/book-with-logos.gif" >
        
<p class="main-p">The STEAM Academy Curriculum was created by a team of professionals and battle tested against some of the most unengaged students our communities have to offer. We believe a good Curriculum can have an effect in any environment. <br><b><a class="pdfButton" style="color:white;">Click Here To See A Sample</a></b></p>
    
    
<div class="button-container">
<a href="/rethinkcommunities" class="push" target>What Makes You So Special?</a> 
</div>
</div>
</div>
</div>

    <!-- Modal -->
  <div class="modal fade" id="pdfModal" role="dialog">
    <div class="modal-dialog">
    
       Modal content
      <div class="modal-content">
<!--          <button type="button" class="close" data-dismiss="modal" style="margin=10px; position=">&times;</button>-->
        <div class="modal-body" >
          
            <iframe height="700" src="/img/Official_STEAM_Academy_Curriculum.pdf" style="width:100%;"></iframe>
          
        </div>
      </div>
    </div>
  </div>  

<script>    
$(document).ready(function(){
    $(".pdfButton").click(function(){
        $("#pdfModal").modal();
    });
});
</script>  