<div class="container">
<img class="back-svg fade-in-faster img-responsive" src="/img/FOOTER_Cityscape.svg">
<div class="row fade-in">
    

<div class="centered-content col-xs-10 col-md-8 col-xs-offset-1 col-md-offset-2 ">

<img class="center-img tall-gif-content img-responsive" src="/img/dashboard_chart.gif" >
<h2 class="sub-header">A Dashboard So We Can Learn Together</h2>
<p class="main-p">We go one step beyond our curriculum. We've created a system that lets you know how your students learn, improve and enjoy STEAM Academy! This ensures that everyone in the community is getting the most out of what we do.</p>
    
<div class="button-container">
<a class="push myBtn" target>Let's Talk More!</a>  
</div>
    
</div>
</div>
</div>