<div>
<div class="container">
<img class="back-img img-responsive fade-in-faster" src="/img/marcsolopng.png">
<div class="row">
    
<div class="centered-content col-xs-10 col-md-8 col-xs-offset-1 col-md-offset-2 ">

<img class="center-img top-img" src="/img/Final-Gif-Logo.gif" style="width:120px;height:120px;">
<div class="fade-in">   
<img class="center-img img-responsive" src="/img/STEAM_Academy_Temp_Website_Divline.png" style="width:100%;height:3px;">

<h1 class="main-header">We Are<br id="steam_header"> STEAM Academy</h1> 
    
<!--<a href="/vrtual" target><h3 id="vraddition"><b>*NEW* Virtual Reality Rental for all Events!</b></h3></a>  -->
    
<p class="main-p">We are a group of instructors who use STEAM to create fun and exciting programming for students in schools, afterschools and summer programs in NYC. Our philosophy is that S.T.E.A.M is Science, Technology, Engineering and Math as it should be: An expression of yourself. We create all of our projects and programming with the desire to pull out the problems, solutions and changes that students want to use STEM for. </a></b>
</p> 
    
<img class="center-img" src="/img/STEAM_Academy_Temp_Website_Divline.png" style="width:100%;height:3px;">
    
<div class="button-container">
<a class="push myBtn" target>Talk To Us!</a>  
<a href="/whoweare" class="push" target>Learn More About Us!</a>    
</div>  
    
</div>     
</div>
</div>

</div>
</div>

<style>
    .container{
        
        background:rgba(0, 0, 0, 0.0);
    }
    
</style>

