<div>
<div class="container">
<img class="back-img img-responsive fade-in-faster" src="/img/marcsolopng.png">
<div class="row">
    
<div class="centered-content col-xs-10 col-md-8 col-xs-offset-1 col-md-offset-2 ">

<img class="center-img top-img-vr" src="/img/vrtual_logo.png" style="width:230px;height:41.43px;">
<div class="fade-in">   
<img class="center-img img-responsive" src="/img/STEAM_Academy_Temp_Website_Divline.png" style="width:100%;height:3px;">

<h1 class="main-header">Help Reality.<br> Go VRTUAL.</h1>  
 
<p class="main-p">VRTUAL is an intiative to turn your enjoyment into resources for the Community! Invite us to your Birthday, Event or (especially) your Wedding and we'll turn that into opportunities for kids in underserved communities! Simple as that!
</p>  
<img class="center-img" src="/img/STEAM_Academy_Temp_Website_Divline.png" style="width:100%;height:3px;">
<div class="button-container">
<a href="http://rentvrtual.setmore.com/" class="push" target>Book Us Today!</a>    
</div>  
    

</div>     
</div>
</div>

</div>
</div>

<style>
    .container{
        
        background:rgba(0, 0, 0, 0.0);
    }
    
</style>

