<div class="container">
<img class="back-svg fade-in-faster navbar-fixed-bottom img-responsive" src="/img/FOOTER_Cityscape.svg">
<div class="row fade-in">
    

<div class="centered-content col-xs-10 col-md-8 col-xs-offset-1 col-md-offset-2 ">

<img class="center-img gif-content img-responsive" src="/img/lion_jumping_official.gif">
        
<p class="main-p">We are a team of professional engineers and programmers. We grew up in under-served communities and now see it as our mission to teach what we know. We believe that doing so will improve the way our communities think about innovation.</p>
    
<div class="button-container">
<a href="/ourcurriculum" class="push" target>I Don't Believe It</a>
</div>
    
</div>
</div>

</div>