<div class="container">
<img class="back-svg fade-in-faster navbar-fixed-bottom img-responsive" src="/img/FOOTER_Cityscape.svg">
<div class="row fade-in">
    

<div class="centered-content col-xs-10 col-md-8 col-xs-offset-1 col-md-offset-2 ">

<img class="center-img gif-content img-responsive" src="/img/FinalLionAlone.gif">
 <h2 class="sub-header">The Jumping Lion was Our First Project in Jamaica Queens</h2>        
<p class="main-p">We taught in a small room at the Jamaica YMCA. We grew up in under-served communities and now see it as our mission to teach what we know. We believe that doing so will improve the way our neighborhoods think about innovation.<br><br><b><a class="pdfButton" style="color:white;text-decoration:underline;"href="https://www.instagram.com/vrtual_craft/" target="_blank">Sneak a Peek At Our Happenings</a></b></p>
    
<div class="button-container">
<a class="push myBtn" target>Talk To Us!</a>  
<a href="/ourcurriculum" class="push" target>I Don't Believe It!</a>
</div>
    
</div>
</div>

</div>